[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twine
Comment=An open-source tool for telling interactive, nonlinear stories
Exec=twinejs
Icon=${SNAP}/meta/gui/twinejs.svg
Terminal=false
